.word--swing {
	font-size: 100px;
	font-family: 'Poppins';
	font-weight: 700;
	text-transform: capitalize;
	color: #fff;
	line-height: 0.725;
	perspective: 800px;
}



.word--swing svg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 510px;
	margin: -255px 0 0 -225px;
	pointer-events: none;
}

.word--swing svg circle {
	fill: currentColor;
	opacity: 0;
	transform-origin: 50% 50%;
}

.word--swing span {
	display: block;
	position: relative;
}

.word--swing span span:first-of-type {
	position: absolute;
	font-family: 'Poppins';
}

.word--swing span span:last-of-type {
	transform-style: preserve-3d;
}